# API Service Environment Variables
PORT=4000
DATABASE_URL="postgresql://[YOUR_DB_USER]:[YOUR_DB_PASSWORD]@[YOUR_DB_HOST]:5432/[YOUR_DB_NAME]?sslmode=require"
CLERK_PUBLISHABLE_KEY="pk_test_[YOUR_CLERK_PUBLISHABLE_KEY]"
CLERK_SECRET_KEY="sk_test_[YOUR_CLERK_SECRET_KEY]"
GROQ_API_KEY="gsk_[YOUR_GROQ_API_KEY]"
GITHUB_WEBHOOK_SECRET="[YOUR_GITHUB_WEBHOOK_SECRET_KEY]"
